.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-color: #f1f1f1;
    gap: 50px;
    margin-bottom:50px;
}

.form-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
    
}
.form-group input{
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 600px;
}
.form-group button{
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #007bff;
    color: white;
    font-weight: bold;
}
.form-group button:hover{
    background-color: #0056b3;
}

