.wrapper{
    width: 1440px;
    margin: 0 auto;
}
body{
  background:linear-gradient(45deg, #FC466B, #3F5EFB);
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}
form{
  background-color: rgba(255,255,255,0.3);
  padding: 3em;
  height: 320px;
  border-radius: 20px;
  border-left: 1px solid rgba(255,255,255,0.3);
  border-top: 1px solid rgba(255,255,255,0.3);
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
  text-align: center;
  position: relative;
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form input {
  width: 500px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.2);
}
form p{
  color: #fff;
  font-size: 1.5em;
  margin-bottom: 1em;
}
form button{
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  color: #000;
  font-size: 1.2em;
  cursor: pointer;
  margin-top: 1em;
}
