body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333333;
}
.Container {
    width: 1440px;
    margin: 0 auto;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
#header{
    display: flex;
    justify-content: center;
    gap : 200px;
    align-items: center;
    background-color: black;
    height: 100px;
}
.header-logo{
    font-size: 30px;
    font-weight: 700;
    color: white;
}
.header-logo a{
    text-decoration: none;
    color: white;
}
.header-nav{
    display: flex;
    align-items: center;
    gap: 20px;
}
.header-nav a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    width: 80px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-nav a:hover{
    background-color: #fe21a2;
    color: white;
    border-radius: 10px;
}
.search-container {
    position: relative;
    display: inline-block;
}

#searchInput {
    padding-right: 30px;
    width: 400px;
    height: 40px;
    border-radius: 4px;
    padding-left: 10px;
}
#searchButton {
    position: absolute;
    right: 10px;
    top: 8px;
    border: none;
    background: none;
    cursor: pointer;
}
.user-shopping-pay{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.user-shopping-pay a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
}
.user-icon i{
    padding-right: 10px;
}
.user-icon span{
    color: white;
}
.shopping-icon i{
    padding-right: 10px;
}
.shopping-icon span{
    color: white;
}
.pay-icon i{
    padding-right: 10px;
}
.pay-icon span{
    color: white;
}
.navigation{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.navigation a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    transition-duration: 0.3s;
    margin-bottom: 50px;
}
.navigation a:hover{
    background-color: #fe21a2;
    color: white;
    box-shadow: 0px 0px 5px #fe21a2,
                0px 0px 5px #fe21a2,
                0px 0px 5px #fe21a2;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    display:none;
}
.product-icon{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.product-icon img{
    width: 180px;
    height: 180px;
}
.product-icon-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    background-color: gray;
    width: 200px;
    height: 255px;
}
.product-icon-item p{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    transition-duration: 0.3s;
}
.iphone-header{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    color: white;
}
.iphone-product img{
    width: 250px;
    height: 250px;
}
.iphone-product{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.iphone-product-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    background-color: gray;
    width: 310px;
    height: 450px;
}
.iphone-product-item p{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    transition-duration: 0.3s;
}
.iphone-product a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    transition-duration: 0.3s;
    background-color: #fe21a2 ;
    width: 100px;
    height: 40px;
    padding: 7px 10px 10px 21px;
    border-radius: 10px;
}
.iphone-product a:hover{
    background-color: orange;
    color: white;
    border-radius: 10px;
}
.iphone-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    
}
.iphone-btn button{
    background-color:gray;
    color: white;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
    transition-duration: 0.3s;
}
.samsung-header{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    color: white;
}
.samsung-product{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.samsung-product img{
    width: 200px;
    height: 200px;
}
.samsung-product-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    background-color: gray;
    width: 310px;
    height: 450px;
}
.samsung-product-item p{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    transition-duration: 0.3s;
}
.samsung-product h2{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    transition-duration: 0.3s;

}
.samsung-product a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    transition-duration: 0.3s;
    background-color: #fe21a2 ;
    width: 100px;
    height: 40px;
    padding: 7px 10px 10px 21px;
    border-radius: 10px;
}
.samsung-product a:hover{
    background-color: orange;
    color: white;
    border-radius: 10px;
}
.samsung-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.samsung-btn button{
    background-color:gray;
    color: white;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
    transition-duration: 0.3s;
}

.xiaomi-header{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    color: white;
}
.xiaomi-product{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.xiaomi-product img{
    width: 150px;
    height: 250px;
}
.xiaomi-product-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    background-color: gray;
    width: 310px;
    height: 450px;
}
.xiaomi-product-item p{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    transition-duration: 0.3s;
}
.xiaomi-product h2{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    transition-duration: 0.3s;

}
.xiaomi-product a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    transition-duration: 0.3s;
    background-color: #fe21a2;
    width: 100px;
    height: 40px;
    padding: 7px 10px 10px 21px;
    border-radius: 10px;
}
.xiaomi-product a:hover{
    color: white;
    border-radius: 10px;
    background-color: orange;
}
.xiaomi-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.xiaomi-btn button{
    background-color:gray;
    color: white;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
    transition-duration: 0.3s;
}
.policy-description{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.policy-description i {
    font-size: 50px;
    color: white;

}
.policy-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.policy-item p{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    transition-duration: 0.3s;
}
.footer{
display: flex;
justify-content: space-around;
background-color: black;
padding-top: 50px;
padding-bottom: 50px;
width: 100%;

}
.footer-item{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Address{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.Address a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
}
.About{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.About a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
}
.Social{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.Social a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
}
.footer p{
  color: white;
}
.footer a{
  color: white;
}
.carousel-item img {
    width: 1440px;
    height: 500px;
}